{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
    <div>
        <h1>
          Login
        </h1>
        {% if not session.logged_in %}
        {% if form.error %}<p class=error><strong>Your form contains errors.</strong> {% endif %}
        <form action="{{ url_for('login') }}" method=post>
            {{ form.hidden_tag() }}
            <dl>
                    <dt>{{form.username.label}}
                <dd>{{ form.username}}
                <dt>{{ form.password.label }}
                <dd>{{ form.password }}
                <dd>{{ form.submit }}
            </dl>
        </form>
        {% else %}
            <p>
                Your are logging. <a href="{{ url_for('logout') }}">log out</a>
            </p>
        {% endif %}
    </div>
{% endblock body %}